
.logo {
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logotext {
  color: #ffffffa1;
  text-align: center;
}

@media (max-width: 650px ) {
  .logo {
    height: 250px;
  }

  
}

