body{
  background-color: black !important;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

div.map-container{
  padding-top: 20px;
}


.logo {
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.logotext {
  color: #ffc107;
  text-align: center;
}

#stroll {
  color: #d6d1d1;
  background: #00000066;
  font-weight: 500;
  
}

.white-text{
  color: white;
}



@media (max-width: 650px ) {
  .logo {
    height: 400px;
  }
}

.button{
	text-decoration: none;
	color: #ffc107;
	font-weight: bold;
	font-size: 25px;
	position: relative;
	padding: 10px;
}

a.place:hover{
  color: #ffc107;
}


/* BUTTON TWEE */

a.button.two:before, a.button.two:after{
  opacity: 0;
  transition: all 0.3s ease;	
	font-size: 30px;
}


a.button.two:hover:before{
  color: #ffc107;
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
}
a.button.two:hover:after{
  color: #ffc107;
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 1;
}


.question{
  background-color: none;
}

.answer{
  background-color: none;
  margin-top: 10px;
}



input, textarea{
  font-size: 25px ;
  background:transparent !important;
  border:1px solid #ffc107!important;
  color: #ffc107 !important;
}

input:focus, textarea:focus {
  outline: none !important;
 
  box-shadow: 0 0 10px #cec871 !important;
}

::placeholder{
  color: #ffffff !important;
}


.question-text{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0px;
}


.yellow-link{
  color: #ffffff;
}

a.yellow-link:hover{
  color: #ffc107;
}

.memory-card{
  margin-bottom: 10px !important;
}
